.passwor {
  text-align: center;
  padding-top: 1.8rem;
}

body {
  background-color: #DDDDDD
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 0.3em;
}

.container {}

#symbol {
  margin: auto;
  margin-top: 1em;
}

.btn-lg {
  margin-top: 1em;
  margin-right: 1em;
}

.footer {
  text-align: center;
  position: sticky;

}

.footer__upwork a:link,
.footer__upwork a:visited {
  text-decoration: none;
  color: #4dabf7;
}

.footer--main:link,
.footer--main:visited {
  text-decoration: none;
  color: #555;
}

.gen-p {
  margin: auto;
  margin-top: 1em;

}

.sm {
  opacity: 0;
  visibility: hidden;
  margin: auto;

}